{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>RickAndMortyApp</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'rickandmortyapp/assets/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'rickandmortyapp/assets/css/noscript.css' %]" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
						<h1>Rick&MortyApp</h1>
						<p>Bienvenido a tu app favorita de Rick and Morty. Aquí encontrarás toda la información <br>
						   que requieras de los episodios, personajes y lugares de la serie. Recorre el sitio con libertad.</p>
						
					</div>
					

				{% block content %}{% endblock %}	

				<!-- Copyright -->
					<div id="copyright">
						<ul><li>&copy; RickandMortyApp</li><li>Design: Ignacio Moreno</li></ul>
					</div>

			</div>

		<!-- Scripts -->
			<script src="{% static 'rickandmortyapp/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'rickandmortyapp/assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'rickandmortyapp/assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'rickandmortyapp/assets/js/browser.min.js' %}"></script>
			<script src="{% static 'rickandmortyapp/assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'rickandmortyapp/assets/js/util.js' %}"></script>
			<script src="{% static 'rickandmortyapp/assets/js/main.js' %}"></script>

	</body>
</html>