{% extends "rickandmortyapp/base.html" %}
{% load static %}

{% block content %}
<nav id="nav">
	<ul class="links">
		<li><a href="{% url 'rickandmortyapp-home' %}">Episodios</a></li>
		<li><a href="{% url 'rickandmortyapp-characters' %}">Personajes</a></li>
		<li><a href="{% url 'rickandmortyapp-locations' %}">Lugares</a></li>
	</ul>
	<ul class="icons">
		<li><form method="GET" action="">
			<input name="query" type="search" placeholder="  Search" aria-label="Search">
			<button formaction="/search" type="submit" >Search</button>
		</form></li>
	</ul>
</nav>
<div id="main">
    <section class="posts">
        <article class="post featured">
            
            <span class="date">{{ episode.air_date }} - {{ episode.episode }}</span>
            <h2>{{ episode.name }}</h2>
            
            <img src="{{imagen}}" alt="" />
        </article>
        <article class="post featured">
            <h2>Personajes: </h2>
            {% for char in chars%}
                <span style="margin: 5px;"><a href="{% url 'rickandmortyapp-character' id=char.id %}">{{ char.name }}</a></span>           
            {% endfor %}
        </article>
    </section>
</div>
{% endblock content %}