{% extends "rickandmortyapp/base.html" %}
{% block content %}
    {% for lugar in lugares %}
        <article class="media content-section">
            <div class="media">
                <div class="media-body">
                    <div class="article-metadata">
                        <h2><a href="{% url 'rickandmortyapp-location' name=lugar.name %}"> {{ lugar.name }}</a></h2>
                    </div>
                    <small class="text">Tipo: {{lugar.type}},</small>
                    <small class="text">Dimensión: {{lugar.dimension}}</small>
                </div>
            </div>
        </article>
    {% endfor %}
    
{% endblock content %}